body {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.one-slider {
  overflow: hidden;
}

.one-slider figure {
  object-fit: cover;
  position: relative;
  max-width: 100vw;
  max-height: 65vh;
  margin: 0;
  left: 0;
}

.one-slider figure img {
  width: 100%;
  max-width: 100vw;
}

.creanto-sello img {
	max-width: 80%;
	width: 30vw;
	margin: 30px;
}

.negrilla {
	color: #008993;
	font-weight: 800;
}

a {
	color: white;
	text-decoration: none;
}

button.licania-btn {
	margin: 10px;
}

