body {
    margin: 0;
    color: #333;
    background-image: url("../img/musico-local/textura.png");
    background-color: rgba(255, 208, 93, .5);
    background-size: cover;
    @import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&display=swap');
    font-family: 'Gentium Book Basic', serif;
    font-size: 18px;
}
.editorial h2 {
    color: #212121;
}
.editorial {
    width: 1200px;
    max-width: 90%;
    position: absolute;
    top: 8%;
    left: 0;
    right: 0;
    margin: 20px auto;
    text-align: left;
    
}
span.subrayado {
    text-emphasis-color: #FFD05D;
}

@media screen and (max-width: 600px) {
    .editorial {
        font-size: 20px;
    }
}