.digital-body {
  background: #212121;
}

/* --------- MODAL ----------- */

.modal-container {
	font-family: 'Raleway', sans-serif;
	opacity: 0;
	visibility: hidden;
	position: fixed;
	z-index: 1000;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 40%;
	height: auto;
	padding: 1%;
	background: #fff;
	text-align: center;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	position: relative;
	border-radius: 20px;
	transition: transform 0.8s;
	transform: translateY(0%);
}

.close {
	position: absolute;
	top: 7px;
	right: 7px;
	display: inline-block;
	width: 25px;
	background: #c44a4a;
	color: #fff;
	line-height: 25px;
	cursor: pointer;
	border-radius: 50%;
}

.modal-close {
	transform: translateY(-200%);
}

.modal img {
	height: auto;
	width: 95%;
}


.modal h2 {
	font-weight: 900;
	color: #505050;
	font-size: 1.8em;
}

.insc-btn, .noThanks-btn {
	background: #009889;
	color: white;
	font-weight: 700;
	font-size: 1.3em;
	cursor: pointer;
	padding: 5px;
	margin: 10px;
	border-radius: 5px;
	border: #009889 2px solid;
}

.noThanks-btn {
	background: #fff;
	color: #505050;
}

/* -------- SALA DE CONCIERTOS -------- */

.sala-conciertos-img {
  max-width: 500px;
  width: 30%;
  padding: 1em;
  margin-left: 35%;
  margin-right: 35%;
}
.digital-content {
  margin: auto;
  width: 90%;
  max-width: 1200px;
  top: 10%;
  bottom: 10%;
  padding-top: 15%;
}
.digital-program {
  max-width: 1200px;
  width: 90%;
}
.logo-banner-digital {
  top: 60px;
  position: absolute;
  width: 100%;
  height: 25%;
  margin: 0;
  z-index: 12;
}
.logo-banner-digital h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1em;
  display: none;
}
.logo-digital {
  max-width: 20%;
  width: 8%;
  height: auto;
  position: absolute;
  z-index: 15;
  padding: 2em 10%;
}
html,
body {
  width: 100%;
  height: 100%;
  font-family: 'Open Sans', sans-serif, sans-serif;
  font-size: 18px;
}
.scifiUI {
  list-style: none;
  position: relative;
  width: 100%;
  margin: 50px auto;
  padding: 0;
  font-size: 1em;
  color: white;
  text-align: center;
  text-justify: center;
  margin-left: auto;
  margin-right: auto;
}
.digital-content li {
  display: inline-block;
}
li input[type="radio"] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  outline: none;
}
li input[type="radio"]:checked ~ label {
  background: #00bebe;
  color: #212121;
  height: 50px;
  font-size: 1.2em;
  cursor: default;
  -webkit-box-shadow: 0 0 10px #00dcdc;
  box-shadow: 0 0 10px #00dcdc;
}
li input[type="radio"]:checked ~ .section {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  width: 90%;
  padding: 50px;
  border: 1px solid #00bebe;
  color: white;
  text-align: justify;
  letter-spacing: 0.1em;
  text-indent: 1em;
  z-index: 1;
}
li label {
  display: block;
  width: 160px;
  margin-left: 1.5em;
  margin-right: 1.5em;
  height: 40px;
  border-bottom: 0;
  border-radius: 5px 5px 0 0;
  color: rgba(0, 190, 190, 0.7);
  font-weight: 400;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
li label:hover {
  height: 50px;
  border-color: #00bebe;
  color: #00bebe;
}
li .section {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  position: absolute;
  top: 51px;
  left: 0;
  width: 90%;
  padding: 50px;
  color: #009389;
  letter-spacing: -1em;
  text-indent: 1em;
  -webkit-transition: all 200ms ease-in-out;
  -o-transition: all 200ms ease-in-out;
  transition: all 200ms ease-in-out;
}
.demo-gallery > ul {
  margin-bottom: 0;
}
.demo-gallery > ul > li {
  float: left;
  margin-bottom: 15px;
  margin-right: 20px;
  width: 200px;
}
.demo-gallery > ul > li a {
  border: 3px solid #FFF;
  border-radius: 3px;
  display: block;
  overflow: hidden;
  position: relative;
  float: left;
}
.demo-gallery > ul > li a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: -webkit-transform 0.15s ease 0s;
  -o-transition: transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery > ul > li a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery > ul > li a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery > ul > li a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery > ul > li a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery > ul > li a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .justified-gallery > a > img {
  -webkit-transition: -webkit-transform 0.15s ease 0s;
  -moz-transition: -moz-transform 0.15s ease 0s;
  -o-transition: -o-transform 0.15s ease 0s;
  transition: -webkit-transform 0.15s ease 0s;
  -o-transition: transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s;
  transition: transform 0.15s ease 0s, -webkit-transform 0.15s ease 0s;
  -webkit-transform: scale3d(1, 1, 1);
  transform: scale3d(1, 1, 1);
  height: 100%;
  width: 100%;
}
.demo-gallery .justified-gallery > a:hover > img {
  -webkit-transform: scale3d(1.1, 1.1, 1.1);
  transform: scale3d(1.1, 1.1, 1.1);
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster > img {
  opacity: 1;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.1);
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  -webkit-transition: background-color 0.15s ease 0s;
  -o-transition: background-color 0.15s ease 0s;
  transition: background-color 0.15s ease 0s;
}
.demo-gallery .justified-gallery > a .demo-gallery-poster > img {
  left: 50%;
  margin-left: -10px;
  margin-top: -10px;
  opacity: 0;
  position: absolute;
  top: 50%;
  -webkit-transition: opacity 0.3s ease 0s;
  -o-transition: opacity 0.3s ease 0s;
  transition: opacity 0.3s ease 0s;
}
.demo-gallery .justified-gallery > a:hover .demo-gallery-poster {
  background-color: rgba(0, 0, 0, 0.5);
}
.demo-gallery .video .demo-gallery-poster img {
  height: 48px;
  margin-left: -24px;
  margin-top: -24px;
  opacity: 0.8;
  width: 48px;
}
.demo-gallery.dark > ul > li a {
  border: 3px solid #04070a;
}
.home .demo-gallery {
  padding-bottom: 80px;
}
.patrocinadores-title {
  color: white;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  margin-bottom: 0.3em;
}
.patrocinadores {
  height: 30%;
}
.patrocinadores h2 {
  color: white;
}
.slide-track img {
  vertical-align: center;
  -ms-flex-line-pack: center;
  align-content: center;
  max-height: 30%;
  padding: 0.5em;
  margin: 1em;
  background: white;
}
.desarrollo img {
  background: white;
}
html {
  position: relative;
}
body {
  font: 'Open Sans', sans-serif, sans-serif;
}
.tabs-wrapper {
  margin: 5% 10% 0 10%;
}
.tabs-wrapper input[type="radio"] {
  display: none;
}
.tabs-wrapper label {
  -webkit-transition: background 0.4s ease-in-out, height 0.2s linear;
  -o-transition: background 0.4s ease-in-out, height 0.2s linear;
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #dbdbd3;
  width: 15%;
  height: 3em;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  background: #525252;
  font-size: 19px;
  text-align: center;
  line-height: 3em;
}
label .label-1 .label-2 .label-3 .label-4 {
  background-color: #009389;
  color: white;
}
.tabs-wrapper label:last-of-type {
  border-bottom: none;
}
.tabs-wrapper label:hover {
  -webkit-box-shadow: inset 0 0 10px #CCC;
  box-shadow: inset 0 0 10px #CCC;
}
#tab1:checked + label,
#tab2:checked + label,
#tab3:checked + label,
#tab4:checked + label,
#tab5:checked + label {
  background: #009389;
  color: #f2f2f2;
}
.tab-body {
  position: absolute;
  /*top: -9999px;*/
  /*para que caiga de arriba abajo*/
  opacity: 0;
  padding: 10px;
  color: white;
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
  transform: scale(0);
}
.tab-body-wrapper {
  border-top: #009389 5px solid;
  border-bottom-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-top-right-radius: 3px;
}
.tab-body-wrapper h3 {
  font-family: 'Raleway', sans-serif, sans-serif;
  color: #00c6b9;
  font-weight: 600;
}
.tab-body-wrapper p {
  text-align: justify;
}
#tab1:checked ~ .tab-body-wrapper #tab-body-1,
#tab2:checked ~ .tab-body-wrapper #tab-body-2,
#tab3:checked ~ .tab-body-wrapper #tab-body-3,
#tab4:checked ~ .tab-body-wrapper #tab-body-4,
#tab5:checked ~ .tab-body-wrapper #tab-body-5 {
  position: relative;
  /*top: 0px;*/
  /*para que caiga de arriba abajo*/
  opacity: 1;
  -webkit-transition: all 1.8s ease-in-out;
  -moz-transition: all 1.8s ease-in-out;
  -ms-transition: all 1.8s ease-in-out;
  -o-transition: all 1.8s ease-in-out;
  transition: all 1.8s ease-in-out;
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);
}
.video-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2em;
}
.video-gallery img {
  max-width: 100%;
  width: 90%;
}
.video-gallery img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 20px;
}
.photo-gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[4];
  grid-template-columns: repeat(4, 1fr);
  padding-bottom: 2em;
}
.photo-gallery img {
  max-width: 100%;
  width: 90%;
  margin: 1em;
}
.photo-gallery img:hover {
  cursor: pointer;
  -webkit-transform: scale(1.05);
  -ms-transform: scale(1.05);
  transform: scale(1.05);
  border-radius: 20px;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.licania-btn {
  color: #fff;
  background: #009389;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 2px #666666;
  box-shadow: 3px 2px 2px #666666;
  cursor: pointer;
}
.licania-btn:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.inscripciones {
  direction: rtl;
  position: absolute;
  text-align: center;
  top: 20%;
  right: 20%;
  margin: auto;
  z-index: 100;
}
.inscripciones h2 {
  text-shadow: 2px 2px 4px #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3em;
  margin: 0;
}
.inscripciones button {
  float: right;
  -webkit-box-shadow: 3px 2px 2px #333;
  box-shadow: 3px 2px 2px #333;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.inscripciones-datos {
  direction: ltr;
  position: absolute;
  text-align: left;
  top: 20%;
  left: 20%;
  margin: auto;
  z-index: 100;
}
.inscripciones-datos h2 {
  text-shadow: 2px 2px 4px #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 1.3em;
  margin: 0;
}
.inscripciones-datos button {
  float: left;
  -webkit-box-shadow: 3px 2px 2px #333;
  box-shadow: 3px 2px 2px #333;
  -webkit-transform: scale(0.9);
  -ms-transform: scale(0.9);
  transform: scale(0.9);
}
.ancho {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
.logo-banner {
  display: none;
  position: absolute;
  width: 100%;
  height: 25%;
  margin: 0;
  z-index: 12;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(51, 51, 51, 0)));
  background: -webkit-linear-gradient(top, #000000, rgba(51, 51, 51, 0));
  background: -o-linear-gradient(top, #000000, rgba(51, 51, 51, 0));
  background: linear-gradient(180deg, #000000, rgba(51, 51, 51, 0));
}
.logo-banner h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1em;
  display: none;
}
.logo {
  max-width: 20%;
  width: 8%;
  height: auto;
  position: absolute;
  z-index: 10;
  padding: 2em 10%;
}
@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 32s slidy infinite;
  animation: 32s slidy infinite;
}
.slider figure img {
  width: 20%;
  float: left;
}
.slider-text-form {
  padding-top: calc(120px + 10%);
  padding: calc(120px + 10%) 10%;
  width: 90%;
  max-width: 1200px;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.slider-text {
  text-align: left;
}
.slider-text h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  text-shadow: 2px 2px 4px #333;
  line-height: 1em;
}
.slider-text h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px #333;
  line-height: 1em;
}
.social ul {
  position: fixed;
  right: 0px;
  top: 20%;
  list-style: none;
  z-index: 100;
}
.social ul li a {
  position: relative;
  float: right;
  background: #006059;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid white;
}
.social ul li a:hover {
  border: none;
}
/* Pseudo Elements */
.social ul li a:after {
  content: "";
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  z-index: 1000;
}
/* Hover */
.social ul li.facebook a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #3b5998;
}
.social ul li.instagram a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: -webkit-linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -o-linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social ul li.youtube a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #da2d2e;
}
.social ul li.maps a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #ffd04b;
}
.section-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0.3em;
}
.presentation-section {
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 1em auto;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.presentation-title {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  text-align: right;
  font-size: 1.5em;
  font-weight: 800;
  margin-right: 0.5em;
  color: #f6b50c;
}
.presentation-text {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  padding: 1em;
}
.presentation-text p {
  text-align: justify;
}
.presentation-text .licania-btn {
  float: left;
}
.servicios {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  margin-bottom: 2em;
}
.servicios-item {
  padding: 0 1em;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 1.5em;
  text-align: center;
}
.servicios-item img {
  margin-top: -20%;
  width: 150px;
  max-width: 100%;
}
.servicios-item p {
  text-align: justify;
}
.servicios-item h4 {
  color: #333;
  font-weight: 600;
  padding: 0.5em;
}
.servicios-item button {
  margin-bottom: -20%;
}
.altiplano {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-bottom: 2em;
}
.altiplano-txt {
  text-align: right;
  padding: 1em;
  margin: auto;
}
.altiplano-txt p {
  text-align: justify;
  direction: rtl;
}
.altiplano-txt img {
  max-width: 100%;
  width: 60%;
  padding: 1em 0px;
}
.altiplano-video {
  padding: 1em;
}
.frotadas {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-bottom: 2em;
}
.frotadas-txt {
  text-align: left;
  padding: 1em;
  margin: auto;
}
.frotadas-txt p {
  text-align: justify;
}
.frotadas-txt img {
  max-width: 100%;
  width: 70%;
  padding: 1em 0px;
}
.frotadas-img {
  padding: 1em;
}
.frotadas-img img {
  width: 560px;
  max-width: 560px;
}
.frotadas-img video {
  width: 560px;
  max-width: 560px;
}
.eventos {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  margin-bottom: 2em;
}
.eventos-item2 {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1em;
  text-align: center;
  width: 100%;
  max-width: 350px;
}
.eventos-item2 img {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.eventos-item2 h4 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding: 0px;
  margin: 0.2em;
}
.eventos-item2 p {
  text-align: justify;
  padding: 0.5em;
  margin-top: 0;
}
.parallax {
  background-image: url('../img/parallax-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
  vertical-align: middle;
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}
.parallax-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  max-width: 1200px;
}
.parallax-item {
  text-align: center;
}
.parallax-item img {
  margin: 15px;
  max-width: 100%;
  width: auto;
  height: 12em;
}
.parallax-item p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-top: 1em;
  margin-bottom: 1em;
}
.desarrollo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  width: 90%;
}
.desarrollo img {
  border-radius: 5%;
  max-width: 200px;
  margin: 5%;
  margin-bottom: 10%;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-80px * 30));
    transform: translateX(calc(-80px * 30));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-80px * 30));
    transform: translateX(calc(-80px * 30));
  }
}
.slider1 {
  background: white;
  height: 120px;
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  width: 90%;
}
.slider1::before,
.slider1::after {
  @include white-gradient;
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider1::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}
.slider1::before {
  left: 0;
  top: 0;
}
.slider1 .slide-track {
  -webkit-animation: scroll 20s linear infinite;
  animation: scroll 20s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200px * 30);
  height: 250px;
}
.slider1 .slide {
  margin: 1%;
}
.slider-datos {
  max-width: 100%;
}
.contenedor {
  max-width: 1200px;
  width: 90%;
}
.datos-txt {
  padding: 0.5em 0;
  direction: ltr;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 90%;
  max-width: 1200px;
  text-align: justify;
  margin: 1em auto;
}
.datos-details {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  text-align: justify;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.datos-details h3 {
  margin-left: 5%;
}
.datos-info {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  padding-top: 2em;
  padding: 1em;
  padding-bottom: 2em;
  text-align: justify;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.horario {
  margin-left: 2em;
  text-align: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 30px;
  padding-left: 2em;
  padding-right: 1em;
}
.social-footer {
  text-align: center;
  cursor: pointer;
}
.social-footer img {
  max-width: 100%;
  margin: 0;
  width: 50px;
}
.social-footer img:hover {
  border: 1px solid #fff;
  border-radius: 50%;
}
footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0 0 2px;
  margin: 0;
  padding: 1em;
  text-align: center;
}
footer p {
  font-size: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 300;
  padding: 1em;
  padding-bottom: 0px;
  color: #fff;
}
footer img {
  width: 150px;
  margin: 0.5em;
}
footer .slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1em;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .slider-text-form {
    padding-top: 0.5em;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .slider-text {
    display: none;
  }
  .slider-form {
    margin-right: 5%;
    margin-top: 5%;
  }
  .presentation-section {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 80%;
  }
  .presentation-title {
    padding-top: 0.5em;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .presentation-text {
    margin: 1em;
  }
  .presentation-text .licania-btn {
    margin-top: 1em;
    float: none;
  }
  .servicios {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 80%;
  }
  .servicios-item {
    margin-top: 3em;
    margin-bottom: 4em;
  }
  .servicios-item img {
    margin-top: -10%;
  }
  .altiplano {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 80%;
  }
  .altiplano-txt {
    text-align: center;
    margin-bottom: 1em;
  }
  .altiplano-txt p {
    direction: ltr;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .altiplano-video {
    padding: 0;
    margin: auto;
  }
  .altiplano-txt img {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "texto" "img";
  }
  .frotadas {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "texto" "img";
    width: 80%;
  }
  .frotadas-txt {
    text-align: center;
    grid-area: texto;
    margin-bottom: 1em;
  }
  .frotadas-txt p {
    direction: ltr;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .frotadas-img {
    padding: 0;
    margin: auto;
    grid-area: "img";
  }
  .eventos {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 60%;
  }
  .eventos-item2 h4 {
    font-size: 1em;
  }
  .datos-txt {
    width: 85%;
  }
  .datos-details,
  .datos-info {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
    max-width: 85%;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: justify;
  }
  .datos-details .licania-btn,
  .datos-info .licania-btn {
    text-align: center;
    display: inline-block;
    margin: 2em auto;
  }
}
@media screen and (max-width: 1024px) {
  .modal h2 {
		font-size: 1.5em;
	}
  .frotadas-txt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .frotadas > .frotadas-txt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .modal h2 {
		font-size: 1em;
	}

	.insc-btn, .noThanks-btn {
		font-size: .9em;
	}

  .section-title {
    font-size: 1.2em;
  }
  .parallax-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .inscripciones {
    right: 5%;
    margin: auto;
  }
  .inscripciones h2 {
    font-size: 1.5em;
  }
  .inscripciones button {
    float: none;
  }
  .frotadas-txt img {
    width: 90%;
  }
}
@media screen and (max-width: 635px) {
  .eventos-item2 img {
    max-width: 100%;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .modal h2 {
		font-size: .8em;
	}
  .social ul {
    display: none;
  }
  .inscripciones {
    right: 5%;
    margin: auto;
  }
  .inscripciones h2 {
    font-size: 1em;
  }
  .altiplano-video {
    max-width: 100%;
    width: 400px;
    height: auto;
  }
  .altiplano-video iframe {
    max-width: 100%;
  }
  .frotadas-img img {
    max-width: 100%;
  }
}
