body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
}
.licania-btn {
  color: #fff;
  background: #009389;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-size: 18px;
  padding: 5px 10px;
  border: none;
  border-radius: 10px;
  -webkit-box-shadow: 3px 2px 2px #666666;
  box-shadow: 3px 2px 2px #666666;
  cursor: pointer;
}
.licania-btn:hover {
  -webkit-transform: scale(1.02);
  -ms-transform: scale(1.02);
  transform: scale(1.02);
}
.inscripciones {
  direction: rtl;
  position: absolute;
  text-align: center;
  top: 20%;
  right: 20%;
  margin: auto;
  z-index: 100;
}
.inscripciones h2 {
  text-shadow: 2px 2px 4px #333;
  color: #fff;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-weight: 800;
  font-size: 2em;
  margin: 0;
}
.inscripciones button {
  float: right;
  -webkit-box-shadow: 3px 2px 2px #333;
  box-shadow: 3px 2px 2px #333;
}
.ancho {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  max-width: 1200px;
  margin: auto;
}
.logo-banner {
  position: absolute;
  width: 100%;
  height: 25%;
  margin: 0;
  z-index: 12;
  background: -webkit-gradient(linear, left top, left bottom, from(#000000), to(rgba(51, 51, 51, 0)));
  background: -webkit-linear-gradient(top, #000000, rgba(51, 51, 51, 0));
  background: -o-linear-gradient(top, #000000, rgba(51, 51, 51, 0));
  background: linear-gradient(180deg, #000000, rgba(51, 51, 51, 0));
}
.logo-banner h1 {
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 800;
  padding: 1em;
  display: none;
}
.logo {
  max-width: 20%;
  width: 8%;
  height: auto;
  position: absolute;
  z-index: 10;
  padding: 2em 10%;
}
@-webkit-keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
@keyframes slidy {
  0% {
    left: 0%;
  }
  20% {
    left: 0%;
  }
  25% {
    left: -100%;
  }
  45% {
    left: -100%;
  }
  50% {
    left: -200%;
  }
  70% {
    left: -200%;
  }
  75% {
    left: -300%;
  }
  95% {
    left: -300%;
  }
  100% {
    left: -400%;
  }
}
.slider {
  overflow: hidden;
}
.slider figure {
  position: relative;
  width: 500%;
  margin: 0;
  left: 0;
  text-align: left;
  font-size: 0;
  -webkit-animation: 32s slidy infinite;
  animation: 32s slidy infinite;
}
.slider figure img {
  width: 20%;
  float: left;
}
.slider-text-form {
  padding-top: calc(120px + 10%);
  padding: calc(120px + 10%) 10%;
  width: 90%;
  max-width: 1200px;
  position: absolute;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
}
.slider-text {
  text-align: left;
}
.slider-text h1 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  font-size: 4em;
  text-shadow: 2px 2px 4px #333;
  line-height: 1em;
}
.slider-text h2 {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 2.5em;
  text-shadow: 2px 2px 2px #333;
  line-height: 1em;
}
.social ul {
  position: fixed;
  right: 0px;
  top: 20%;
  list-style: none;
  z-index: 100;
}
.social ul li a {
  position: relative;
  float: right;
  background: #006059;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  border: 1px solid white;
}
.social ul li a:hover {
  border: none;
}
/* Pseudo Elements */
.social ul li a:after {
  content: "";
  position: fixed;
  bottom: 0px;
  left: 0;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  z-index: 1000;
}
/* Hover */
.social ul li.facebook a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #3b5998;
}
.social ul li.instagram a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: -webkit-linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: -o-linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  background: linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
}
.social ul li.youtube a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #da2d2e;
}
.social ul li.maps a:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  background: #ffd04b;
}
.section-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
  color: #333;
  margin-bottom: 0.3em;
}
.presentation-section {
  -ms-grid-columns: (50%)[2];
  grid-template-columns: repeat(2, 50%);
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  text-align: center;
  margin: 1em auto;
  padding-bottom: 2em;
  margin-bottom: 2em;
}
.presentation-title {
  font-size: 3em;
  font-family: 'Raleway', sans-serif;
  text-align: right;
  font-size: 1.7em;
  font-weight: 800;
  margin-right: 0.5em;
  color: #f6b50c;
}
.presentation-text {
  -webkit-box-align: left;
  -ms-flex-align: left;
  align-items: left;
  padding: 1em;
}
.presentation-text p {
  text-align: justify;
}
.presentation-text .licania-btn {
  float: left;
}
.servicios {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 2em;
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  margin-bottom: 2em;
}
.servicios-item {
  padding: 0 1em;
  border: 1px solid #000;
  border-radius: 10px;
  margin: 1.5em;
  text-align: center;
}
.servicios-item img {
  margin-top: -20%;
  width: 150px;
  max-width: 100%;
}
.servicios-item p {
  text-align: justify;
}
.servicios-item h4 {
  color: #333;
  font-weight: 600;
  padding: 0.5em;
}
.servicios-item button {
  margin-bottom: -20%;
}
.altiplano {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-bottom: 2em;
}
.altiplano-txt {
  text-align: right;
  padding: 1em;
  margin: auto;
}
.altiplano-txt p {
  text-align: justify;
  direction: rtl;
}
.altiplano-txt img {
  max-width: 100%;
  width: 60%;
  padding: 1em 0px;
}
.altiplano-video {
  padding: 1em;
}
.frotadas {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
  grid-template-columns: repeat(2, 1fr);
  margin: auto;
  margin-bottom: 2em;
}
.frotadas-txt {
  text-align: left;
  padding: 1em;
  margin: auto;
}
.frotadas-txt p {
  text-align: justify;
}
.frotadas-txt img {
  max-width: 100%;
  width: 60%;
  padding: 1em 0px;
}
.frotadas-img {
  padding: 1em;
}
.frotadas-img img {
  width: 560px;
  max-width: 560px;
}
.eventos {
  width: 90%;
  max-width: 1200px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  padding: 1em;
  margin-bottom: 2em;
}
.eventos-item2 {
  border: 1px solid #000;
  border-radius: 5px;
  margin: 1em;
  text-align: center;
  width: 100%;
  max-width: 350px;
}
.eventos-item2 img {
  width: 100%;
  max-width: 350px;
  border-radius: 5px;
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.eventos-item2 h4 {
  color: #000;
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  padding: 0px;
  margin: 0.2em;
}
.eventos-item2 p {
  text-align: justify;
  padding: 0.5em;
  margin-top: 0;
}
.parallax {
  background-image: url('../img/parallax-2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #333;
  background-position: center;
  overflow: hidden;
  background-attachment: fixed;
  vertical-align: middle;
  width: 100%;
  position: relative;
  margin-bottom: 2em;
}
.parallax-content {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
  grid-template-columns: repeat(3, 1fr);
  width: 90%;
  max-width: 1200px;
}
.parallax-item {
  text-align: center;
}
.parallax-item img {
  margin: 15px;
  max-width: 100%;
  width: auto;
  height: 12em;
}
.parallax-item p {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  padding-top: 1em;
  margin-bottom: 1em;
}
.desarrollo {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[5];
  grid-template-columns: repeat(5, 1fr);
  max-width: 1200px;
  width: 90%;
}
.desarrollo img {
  border-radius: 5%;
  max-width: 200px;
  margin: 5%;
  margin-bottom: 10%;
}
@-webkit-keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 12));
    transform: translateX(calc(-200px * 12));
  }
}
@keyframes scroll {
  0% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(calc(-200px * 12));
    transform: translateX(calc(-200px * 12));
  }
}
.slider1 {
  margin: auto;
  overflow: hidden;
  position: relative;
  max-width: 1200px;
  width: 90%;
}
.slider1::before,
.slider1::after {
  @include white-gradient;
  content: "";
  height: 200px;
  position: absolute;
  width: 200px;
  z-index: 2;
}
.slider1::after {
  right: 0;
  top: 0;
  -webkit-transform: rotateZ(180deg);
  -ms-transform: rotate(180deg);
  transform: rotateZ(180deg);
}
.slider1::before {
  left: 0;
  top: 0;
}
.slider1 .slide-track {
  -webkit-animation: scroll 75s linear infinite;
  animation: scroll 75s linear infinite;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(200px * 11);
}
.slider1 .slide {
  margin: 1%;
}
.social-footer {
  text-align: center;
  cursor: pointer;
}
.social-footer img {
  max-width: 100%;
  margin: 0;
  width: 50px;
}
.social-footer img:hover {
  border: 1px solid #fff;
  border-radius: 50%;
}
footer {
  background-image: url(../img/footer-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 10px 0 0 2px;
  margin: 0;
  padding: 1em;
  text-align: center;
}
footer p {
  font-size: 1em;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-weight: 300;
  padding: 1em;
  padding-bottom: 0px;
  color: #fff;
}
footer img {
  width: 150px;
  margin: 0.5em;
}
footer .slogan {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  font-style: italic;
  font-size: 1em;
  color: #fff;
}
@media screen and (max-width: 1024px) {
  .slider-text-form {
    padding-top: 0.5em;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .slider-text {
    display: none;
  }
  .slider-form {
    margin-right: 5%;
    margin-top: 5%;
  }
  .presentation-section {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 80%;
  }
  .presentation-title {
    padding-top: 0.5em;
    width: 90%;
    margin: auto;
    text-align: center;
  }
  .presentation-text {
    margin: 1em;
  }
  .presentation-text .licania-btn {
    margin-top: 1em;
    float: none;
  }
  .servicios {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 80%;
  }
  .servicios-item {
    margin-top: 3em;
    margin-bottom: 4em;
  }
  .servicios-item img {
    margin-top: -10%;
  }
  .altiplano {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 80%;
  }
  .altiplano-txt {
    text-align: center;
    margin-bottom: 1em;
  }
  .altiplano-txt p {
    direction: ltr;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .altiplano-video {
    padding: 0;
    margin: auto;
  }
  .frotadas {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    grid-template-areas: "texto" "img";
    width: 80%;
  }
  .frotadas-txt {
    text-align: center;
    grid-area: texto;
    margin-bottom: 1em;
  }
  .frotadas-txt p {
    direction: ltr;
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .frotadas-img {
    padding: 0;
    margin: auto;
    grid-area: img;
  }
  .eventos {
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
    width: 60%;
  }
  .eventos-item2 h4 {
    font-size: 1.5em;
  }
}
@media screen and (max-width: 1024px) {
  .frotadas-txt {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .frotadas-img {
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }
}
@media screen and (max-width: 768px) {
  .parallax-content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
    grid-template-columns: 100%;
  }
  .inscripciones {
    right: 5%;
    margin: auto;
  }
  .inscripciones h2 {
    font-size: 1.5em;
  }
  .inscripciones button {
    float: none;
  }
}
@media screen and (max-width: 635px) {
  .eventos-item2 img {
    max-width: 100%;
    width: auto;
  }
}
@media screen and (max-width: 480px) {
  .social ul {
    display: none;
  }
  .inscripciones {
    right: 5%;
    margin: auto;
  }
  .inscripciones h2 {
    font-size: 1em;
  }
  .altiplano-video {
    max-width: 100%;
    width: 400px;
    height: auto;
  }
  .altiplano-video iframe {
    max-width: 100%;
  }
  .frotadas-img img {
    max-width: 100%;
  }
}
