body {
    @import: url('https://fonts.googleapis.com/css2?family=Gentium+Book+Basic:ital,wght@0,400;0,700;1,400&display=swap');
    font-family: 'Gentium Book Basic', serif;
}

header nav {
        position: fixed;
        z-index: 1;
        width: 50%;
        /* background: rgba(33, 33, 33, .8); */
        
    }
    
    .menu_bar-revista {
        display: block;
    }

    header .menu_bar-revista a {
        @import: url('../fonts/Golden_arrow.ttf');
        font-family: 'Golden Arrow', serif;
        letter-spacing: 3px;
        text-align: center;
    }
    
    header nav ul {
        overflow: hidden;
        list-style: none;
        margin-top: 0;
        margin-bottom: 0;
        margin-left: 0;
        height: 100vh;
    }
    
    header nav ul li {
        float: left;
    }
    

    .menu_bar-revista .btn-menu .icon-bars {
        margin-left: 50px;
        }
        
    .logo-icon {
        display: flex;
        align-items: middle;
    }
    
    .icon-LicaniaLogo {
        font-size: 3.5em;
        padding: 2px 30px;
        vertical-align: middle;
        margin: 2px;
        }
    
    .icon {
        padding: 27px;
        }
    header nav ul li a {
        font-family: 'Gentium Book Basic', serif;
        font-size: 16px;
        color: #fff;
        text-decoration: none;
        display: block;
        cursor: pointer;
    }
    
    header nav .nav-bar ul li a:hover {
        color: #FFD05D;
        transform: translateY(2px);
    }
    
    header nav ul li span {
        margin-right: 10px;
        font-size: 20px;
    }
    
    .social-menu {
        display: none;
    }
    
    

        header nav {
        top: 60px;
        width: 100%;
        left: -100%;
        background: #902e29;
        height: 100%;
        margin: 0;
        }
    
        header nav ul li {
        display: block;
        float: none;
        }
    
        header nav .nav-bar ul li {
        display: block;
        float: none;
        border-bottom: 1px solid rgba(255, 255, 255, .3);
        padding: 10px 0;
        font-family: 'Gentium Book Basic', serif;
        }
    
        header nav ul li a {
        font-size: 20px;
        }
    
        .menu_bar-revista {
        display: block;
        width: 100%;
        background: #ccc;
        left: 5%;
        }
    
        .menu_bar-revista .btn-menu {
        display: block; 
        z-index: 11;
        padding: 20px;
        background: rgba(33, 33, 33, .9);
        width: 100%;
        position: fixed;
        height: 60px;
        color: #FFD05D;
        text-decoration: none;
        font-weight: bold;
        font-size: 22px;
        box-sizing: border-box;
        }
        
        .menu_bar-revista .btn-menu :last-child {
            color: white;
        }
    
        .menu_bar-revista span {
        float: right;
        font-size: 20px;
        }

    li.grid a {
        margin-top: 50%;
    
    }
        header nav ul li.grid img {
        display: flex;
        margin-left: auto;
        margin-right: auto;
        }    

        @media screen and (max-width: 1024px) {
            header nav ul li a {
            font-size: 15px;
            }
        
            header nav ul li span {
            font-size: 15px;
            }
        
            .icon {
            padding: 20px;
            }
        
        }