header nav {
  position: fixed;
  z-index: 10;
  width: 100%;
  background: rgba(33, 33, 33, .8);
}

.menu_bar {
  display: none;
}

header nav ul {
  overflow: hidden;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

header nav ul li {
  float: left;
}

.logo-icon {
  display: flex;
  align-items: middle;
}

.icon-LicaniaLogo {
  font-size: 3.5em;
  padding: 2px 30px;
  vertical-align: middle;
  margin: 2px;
  }

.icon {
    padding: 27px;
  }

header nav ul li a {
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
  color: #fff;
  text-decoration: none;
  display: block;
  cursor: pointer;
}

header nav .nav-bar ul li a:hover {
  background: #008993;
}

header nav ul li a:active {
  background: #008993;
  color: #212121;
}

header nav ul li span {
  margin-right: 10px;
  font-size: 20px;
}

.social-menu {
  display: none;
}

 /* ------------------------------- RESPONSIVE -------------------------------  */
 @media screen and (max-width: 1024px) {
   header nav ul li a {
     font-size: 15px;
   }

   header nav ul li span {
     font-size: 15px;
   }

   .icon {
     padding: 20px;
   }

 }

@media screen and (max-width: 800px) {
  header nav {
    width: 100%;
    left: -100%;
    background: #212121;
    height: 100%;
    margin: 0;
    font-size: 10px;
  }

  header nav ul li {
    display: block;
    float: none;
  }

  header nav .nav-bar ul li {
    display: block;
    float: none;
    border-bottom: 1px solid rgba(255, 255, 255, .3);
  }

  header nav ul li a {
    font-size: 20px;
  }

  .menu_bar {
    display: block;
    width: 100%;
    background: #ccc;
    left: 5%;
  }

  .menu_bar .btn-menu {
    display: block;
    z-index: 11;
    padding: 20px;
    background: #008993;
    height: 60px;
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    box-sizing: border-box;
  }

  .menu_bar span {
    float: right;
    font-size: 20px;
  }

  .icon-LicaniaLogo:after {
    content: 'Inicio';
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    padding: 8px;
  }

  .social-menu{
    display: block;
  }
  .grid {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
  }

  .social-menu img {
    max-width: 80%;
    width: 50px;
  }

li.grid a {
  margin-top: 50%;

}
  header nav ul li.grid img {
    display: flex;
    margin-left: auto;
    margin-right: auto;
  }

  /* Hover */

  .facebook:hover {
    background: #3b5998;
  }
  .whatsapp:hover {
    background: #25D366;
  }
  .instagram:hover {
    background: linear-gradient(45deg, #F09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
  }
  .youtube:hover {
    background: #da2d2e;
  }
  .maps:hover {
    background: #ffd04b;
  }

}
