.portada {
    background: #902e29;
    height: 90vh;
}
.portada-img {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center; 
}

.creditos {
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    text-align: center;
    background-color: #FFD05D;
    width: 100%;
    padding: 20px;
}

.revista-logo img {
    max-width: 40%;
    width: 300px;
    margin: 20px;
}

.minCultura-licania img {
    max-width: 65%;
    width: 450px;
}

.creditos-txt {
    margin: 10px;
    color: #9D312B;
    text-justify: center;
}

@media screen and (max-width: 680px) {
    .portada {
        width: 100vw;
        height: 85vw;
    }
}